// See: https://sass-lang.com/

body {
  h1 {
    color: #244751;
  }
  div.jumbotron {
    background-color: #31753b;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  }

  nav .nav-item:hover {
    text-decoration: underline;
    text-decoration-style: solid;
  }
}
